<div id="<%= dom_id user %>">
  <p>
    <strong>Fullname:</strong>
    <%= user.fullname %>
  </p>

  <p>
    <strong>Pseudo:</strong>
    <%= user.pseudo %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= user.image %>
  </p>

</div>
