<div id="<%= dom_id mytweet %>">
  <p>
    <strong>Content:</strong>
    <%= mytweet.content %>
  </p>

  <p>
    <strong>Hashtag:</strong>
    <%= mytweet.hashtag_id %>
  </p>

  <p>
    <strong>Tweet:</strong>
    <%= mytweet.tweet_id %>
  </p>

</div>
